<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id ="standard">
        <route id="dbancontact" frontName="dbancontact">
            <module name="Digiwallet_DBancontact" />
        </route>
    </router>
</config>